.auth-container {
    padding-top: 0;
    justify-content: flex-start;
    padding-bottom: 50px;
}

.logo-container {
    text-align: center;
    padding: 20px 30px;
}

.auth-logo-icon {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

.auth-container h2 {
    margin-top: 15px;
}

.checkbox-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 30px;
    margin-bottom: 30px;
    font-size: 14px;
}

.checkbox-group input {
    width: auto;
    margin-right: 10px;
    transform: scale(1.2);
}

/* Estilos de las opciones de login en auth_select.html */
.auth-container a.btn {
    text-align: center;
    margin: 10px 0;
}