.welcome-screen {
    /* Usaremos un min-height para que los botones queden abajo */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px; 
}

.welcome-screen .logo-container {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10vh; /* Empujar el logo un poco más abajo */
}

.welcome-screen .main-logo {
    width: 200px; /* Un poco más grande en la bienvenida */
    margin-bottom: 40px;
}

.welcome-screen h1 {
    font-size: 24px;
    line-height: 1.4;
    max-width: 80%;
    margin-bottom: 50px;
}

.dots-navigation {
    display: flex;
    margin-bottom: 30px;
}

.dots-navigation .dot {
    height: 10px;
    width: 10px;
    background-color: #ccc;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
}

.dots-navigation .dot.active {
    background-color: var(--color-text-dark); /* Color más oscuro para el activo */
}

.buttons-container {
    width: 80%; /* Los botones tienen un margen lateral en el mockup */
    padding: 0 20px;
    box-sizing: border-box;
}